<div class="main-page-container">
  <div class="main-page-center-container">

    <div *ngFor="let shoppingList of shoppingLists; let i = index" class="list-cards-container">
      <mat-card class="list-card" [routerLink]='["/list/" + shoppingList.listId]' (mouseenter)="mouseHoveringListCard(i)" (mouseleave)="mouseLeftListCard()" [class.mat-elevation-z4]="mouseIsHoveringCard === i" #ListCard>
        {{shoppingList.shoppingListName}}
        <div class="list-card-description">{{shoppingList.shoppingListDescription}}</div>
        <span  (click)="onEvent($event);removeShoppingList(shoppingList.listId)" *ngIf="mouseIsHoveringCard == i || mobile" class="list-card-remove-button">
          <button class="item-card-button" color="warn" mat-mini-fab>
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </mat-card>
    </div>

    <div class="add-list-item">
      <button (click)="createShoppingList()" class="add-list-item-button" mat-fab>
       <mat-icon  aria-label="Example icon-button with a heart icon">add</mat-icon>
     </button>
    </div>
  </div>

</div>

<div class="tips">
  <p>* Application is created for Real.</p>
  <p>* To use application you should allow "Access-Control-Allow-Origin".</p>
  <p>  So, You need to add store app. </p>
  <p>   For Chrome try <a target="_blank" href="https://chrome.google.com/webstore/detail/moesif-orign-cors-changer/digfbfaphojjndkpccljibejjbppifbc?utm_source=chrome-ntp-icon">Moesif</a></p>
  <p>   For Firefox try <a target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/access-control-allow-origin/">access-control-allow-origin</a></p>
</div>
