
<div class="container" style="  scroll-behavior: smooth;">

  <mat-card class="card" >
    <mat-card-title>
      <span *ngIf="!changingListName">
        <span  class="list-title">{{shoppingList.shoppingListName}}</span>
        <mat-icon class="edit-list-name-icon" (click) = "turnListNameChangingOn()">edit</mat-icon>
      </span>

      <span *ngIf="changingListName" class="edit-list-name" [ngClass] = "{'flex-direction-column' : mobile}">
        <mat-form-field>
          <input maxlength="30" placeholder="List name" [value]="shoppingList.shoppingListName" #ListNameField matInput>
        </mat-form-field>
        <mat-form-field>
          <input maxlength="50" placeholder="List description" [value]="shoppingList.shoppingListDescription" #ListDescriptionField matInput>
        </mat-form-field>
        <span class="display-flex">
          <mat-icon class="edit-list-name-icon save-list-name-icons" (click)="updateProductList()" style="color: greenyellow">check_circle</mat-icon>
          <mat-icon class="edit-list-name-icon save-list-name-icons" style="color: orangered" (click) = "cancelListNameChanging()">cancel</mat-icon>
        </span>
      </span>

    </mat-card-title>


    <mat-card-content>
      <div class="list-container" @list>  <!--mat-elevation-z8-->
        <span *ngIf="!shoppingList.shoppingListItems || !shoppingList.shoppingListItems.length" class="empty-list"> List is Empty </span>


        <div  [@items]="firstEnter" *ngFor="let product of shoppingList.shoppingListItems; let i = index">


          <mat-card #ItemsCard class="item-card mat-elevation-z0 " (mouseenter)="mouseHoveringCard(i)"(mouseleave)="mouseLeftCard()" [class.mat-elevation-z4]="mouseIsHoveringCard == i">

            <mat-checkbox (click) = "CheckListItem(product.item.code)" class="item-check-box" [checked]="product.itemChecked" color = "primary"></mat-checkbox>

            <div class="card-inline">
              <mat-card-header [ngClass] = "{'flex-direction-column' : mobile}" class="cursor-pointer">

                <span class="display-flex">
                  <img mat-card-avatar [src] = "'https://api.efood.real.de/' + product.item.images[0].url" class="header-image" (click)="toggleHelpMenu(i)"/>
                  <span class="display-flex;" style="flex-direction: row; ">
                    <mat-card-title (click)="toggleHelpMenu(i)">{{product.item.name}}</mat-card-title>
                    <mat-card-subtitle (click)="toggleHelpMenu(i)">{{product.item.brand}}</mat-card-subtitle>
                  </span>
                </span>


                <span class="fill-between-right-and-left" (click)="toggleHelpMenu(i)">&nbsp;</span>

                <br>

                <span class="card-top-right-side">
                  <span class="item-price">{{product.item.price.formattedValue}}</span>
                  <mat-button-toggle-group class="item-card-button pm-card-button" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="inc-dec-count-buttons" value = "-" (change)="ChangeItemCount(product.item.code, 1)">-</mat-button-toggle>
                    <input disabled class="item-count-input" [value]="product.itemCount">
                    <mat-button-toggle class="inc-dec-count-buttons" value = "+" (change)="ChangeItemCount(product.item.code, 2)">+</mat-button-toggle>
                  </mat-button-toggle-group>
                  <span *ngIf="mouseIsHoveringCard == i || mobile">
                    <button (click)="removeItemFromList(product.item.code)" class="item-card-button" color="warn" mat-mini-fab>
                      <mat-icon>delete</mat-icon>
                    </button>
                  </span>
                </span>
              </mat-card-header>

              <div [@slideInOut]="helpMenuOpen" >
              <div *ngIf="openedCard === i" >


                 <div class="card_description">
                   <div class="card_left" >
                     <img (mouseenter)="mouseHoveringCardImage(i)"(mouseleave)="mouseLeftCardImage()" (click)="openDialog('https://api.efood.real.de/' + product.item.images[product.item.images.length - 1].url)" [src] = "'https://api.efood.real.de/' + product.item.images[product.item.images.length - 1].url"/>
                   </div>

                   <div class="card_right">
                     <div class="card-title" [innerHTML]="product.item.description"></div>

                     <span class="fill-between-right-and-left">&nbsp;</span>

                     <div class="stock-info" >
                       <div class="stock-flex">
                       <div class=" base-price" *ngIf="product.item.price.basePrice">
                         Base Price: {{product.item.price.basePrice.basePriceBaseFactor}} {{product.item.price.basePrice.basePriceUnit}} - €{{product.item.price.basePrice.basePrice}}
                       </div>
                       <div class="stock-available" [ngStyle]="{backgroundColor: product.item.stock ? '#8CC13F' : '#ED1651'}">
                         <span *ngIf="product.item.stock; else OutOfStock">In Stock.</span>
                         <ng-template #OutOfStock>Out of stock.</ng-template>
                       </div>
                       </div>
                     </div>
                   </div>
                 </div>

              </div>
              </div>

            </div>
          </mat-card>

        </div>

        <div *ngIf="itemsPrice" class="align-flex-end">price: € {{itemsPrice}}</div>

        <div class="search-row">
          <div class="search" [ngClass] = "{'open' : searchItemOpen}">
            <input [disabled]="!searchItemOpen" #SearchInput class="search-box" (keyup)="onKey($event)" />
            <span (click)="openMiniSearch()" class="search-button">
              <mat-icon [@rotatedState]='iconRotationState' style="color: #242628;">add</mat-icon>
            </span>
          </div>
          <span *ngIf="!searchItemOpen" (click)="openMiniSearch()">Add first product</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>






  <mat-card class="card" *ngIf="searchResult.freeTextSearch">
    <mat-card-title>Search Results</mat-card-title>

    <mat-card-content>
      <div class="list-container">
        <span *ngIf="!searchResult.products || !searchResult.products.length" class="empty-list"> Search Results is Empty</span>


        <div *ngFor="let searchProduct of searchResult.products; let i = index">


          <mat-card #ItemsCard class="item-card mat-elevation-z0 " (mouseenter)="mouseHoveringSearchCard(i)" (mouseleave)="mouseLeftSearchCard()" [class.mat-elevation-z4]="mouseIsHoveringSearchCard == i">


            <div class="card-inline">
              <mat-card-header [ngClass] = "{'flex-direction-column' : mobile}" class="cursor-pointer">

                <span class="display-flex">
                  <img mat-card-avatar [src] = "'https://api.efood.real.de/' + searchProduct.images[0].url" class="header-image" (click)="toggleHelpMenu(i)"/>
                  <span class="display-flex;" style="flex-direction: row;">
                    <mat-card-title (click)="toggleHelpMenuSearch(i)">{{searchProduct.name}}</mat-card-title>
                    <mat-card-subtitle (click)="toggleHelpMenuSearch(i)">{{searchProduct.brand}}</mat-card-subtitle>
                  </span>
                </span>

                <!--<img mat-card-avatar [src] = "'https://api.efood.real.de/' + searchProduct.images[0].url" class="header-image" (click)="toggleHelpMenuSearch(i)"/>-->
                <!--<mat-card-title (click)="toggleHelpMenuSearch(i)">{{searchProduct.name}}</mat-card-title>-->
                <!--<mat-card-subtitle (click)="toggleHelpMenuSearch(i)">{{searchProduct.brand}}</mat-card-subtitle>-->
                <span class="fill-between-right-and-left" (click)="toggleHelpMenuSearch(i)">&nbsp;</span>

                <span class="card-top-right-side">

                  <span class="item-price">{{searchProduct.price.formattedValue}}</span>

                  <span *ngIf="itemAdded(searchProduct.code)" class="inc-dec-count-buttons">
                    <span class="item-added-chip"> Added {{itemAddedCount(searchProduct.code)}}</span>
                    <span class="display-flex" (click)="addItemToList(searchProduct.code)">
                      <button class="item-card-button" color="primary" mat-mini-fab>
                       <mat-icon>plus_one</mat-icon>
                      </button>
                    </span>
                  </span>


                <span  *ngIf="!itemAdded(searchProduct.code)" (click)="addItemToList(searchProduct.code)">
                  <button class="item-card-button" style="background-color: green;" mat-mini-fab>
                    <mat-icon>add</mat-icon>
                  </button>
                </span>
                <span *ngIf="itemAdded(searchProduct.code)">
                  <button (click)="removeItemFromList(searchProduct.code)" class="item-card-button" color="warn" mat-mini-fab>
                    <mat-icon>delete</mat-icon>
                  </button>
                </span>

                </span>


              </mat-card-header>

              <div [@slideInOutSearch]="helpMenuOpenSearch" >
                <div *ngIf="openedCardSearch === i" >

                  <div class="card_description">
                    <div class="card_left" >
                      <img (click)="openDialog('https://api.efood.real.de/' + searchProduct.images[searchProduct.images.length - 1].url)" [src] = "'https://api.efood.real.de/' + searchProduct.images[searchProduct.images.length - 1].url"/>
                    </div>
                    <div class="card_right">
                      <div class="card-title" [innerHTML]="searchProduct.description"></div>
                      <span class="fill-between-right-and-left">&nbsp;</span>
                      <div class="stock-info align-flex-end">
                        <div class="stock-flex">
                          <div class="item-added-chip base-price" *ngIf="searchProduct.price.basePrice">
                            Base Price: {{searchProduct.price.basePrice.basePriceBaseFactor}} {{searchProduct.price.basePrice.basePriceUnit}} - €{{searchProduct.price.basePrice.basePrice}}
                          </div>
                          <div class="stock-available" [ngStyle]="{backgroundColor: searchProduct.stock ? '#8CC13F' : '#ED1651'}">
                            <span *ngIf="searchProduct.stock; else OutOfStockSearch">In Stock.</span>
                            <ng-template #OutOfStockSearch>Out of stock.</ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>

            </div>
          </mat-card>

        </div>


        <span *ngIf="searchResult.products && searchResult.products.length" class="detail-search-text" [routerLink]='["/search"]'>Detail Search</span>


      </div>
    </mat-card-content>




  </mat-card>

</div>
<div class="foother-space"></div>
